
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    {% block title %}<title>leopard</title>{% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
	 <link href="/static/css/bootstrap-responsive.css" rel="stylesheet">
     <script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
 	 <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="#">运维平台</a>
		  <div class="nav-collapse collapse">
		  <ul class="nav pull-right">
			<li class="dropdown"> 
			<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-user icon-white"></i>  <b class="caret"></b></a>
			<ul class="dropdown-menu"> 
			<li><a href="#"><i class="icon-user"></i> 个人资料</a></li>
			<li class="divider"></li> 
			<li><a href="#"><i class="icon-off"></i> 注销</a></li> </ul> </li>
		  </ul>
		  </div>
        </div>
      </div>
    </div>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2">
      <ul class="nav nav-tabs nav-stacked">

        <li><a href="#"><i class="icon-th"></i> Services</a></li>
		<li><a href="#"><i class="icon-lock"></i> Group</a></li>
		<li><a href="#"><i class="icon-lock"></i> Task</a></li>
		<li><a href="#"><i class="icon-lock"></i> User</a></li>
		<li><a href="/data_sync"><i class="icon-lock"></i> data_sync</a></li>
		<li><a href="/alarm_add"><i class="icon-lock"></i> Add Alarm</a></li>
		<li><a href="/count"><i class="icon-lock"></i>static</a></li>
		<li><a href="/dashboard"><i class="icon-lock"></i>link</a></li>

	  </ul>
    </div>
    <div class="box span10">
	
	{% block content %}{% endblock %}
	
    </div><!-- span 10 -->
  </div>
</div>
    <footer>
    </footer>
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/js/jquery.js"></script>
	<script src="/static/js/bootstrap.min.js"></script>
	
	<script src="/static/js/leopard.js"></script>
	<script type="text/javascript">
    function run_script(id,type,operation)
    {
        $.post("/showservice/",
        {
          id:id,
          type:type,
          operation:operation
        },
        function(data){
        $("#script_result").show()
        $("#script_result").html(data);
        });
    }
    function cat_log(id,operation){
        $.post("/showservice/",
        {
          id:id,
          operation:operation
        },
        function(data){
          $("#script_result").show()
          $("#script_result").html(data)
          $("#script_result").scrollTop($("#script_result").scrollHeight);
        });
        }
    function del_service(id,operation){
        $.post("/showservice/",
        {
          id:id,
          operation:operation
        },
        function(data){
            alert(data)
            window.location.reload();
        });
        }
    function ch_status(id,num){
        $.post("/showrelease/",
        {
           id:id,
           num:num
        },
        function(data){
            alert(data)
            window.location.reload();
        });
        }
    function ch_status_back(id,num){
        var reason=prompt("请输入打回原因:",'');
        if(reason){
        $.post("/showrelease/",
        {
           id:id,
           num:num,
           reason:reason
        },
        function(data){
            alert(data)
            window.location.reload();
        });}
        else if(reason==''){
            alert('请输入打回原因！');
            ch_status_back(id,num)
        }
        else if(reason==undefined){}
    }
  </script>
  </body>
</html>
