{% extends "base.html" %}
{% block title %}<title>Edit Server</title>{% endblock %}
{% block content %}
<h3>Edit Server</h3>
	<hr>
	<form method="POST" class="form-horizontal">
  <div class="control-group">
    <label class="control-label" for="host_name">Host Name:</label>
    <div class="controls">
      {{ alarm_add_form }}
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="host_w_ip">Host Inter IP:</label>
    <div class="controls">
	  <span class="add-on">&nbsp;&nbsp;ssh port:</span>
    </div>
  </div>
    <div class="control-group">
    <label class="control-label" for="host_n_ip">Host local IP:</label>
    <div class="controls">
	  <span class="add-on">&nbsp;&nbsp;ssh port:</span>
    </div>
  </div>
    <div class="control-group">
    <label class="control-label" for="host_user">login user:</label>
    <div class="controls">
	  <span class="add-on">&nbsp;&nbsp;passwd:</span>
    </div>
  </div>
    <div class="control-group">
    <label class="control-label" for="host_user">root user:</label>
    <div class="controls">
      <input type="text"  class="input-medium disabled" id="host_user" name="host_user_root" placeholder="root" disabled>
	  <span class="add-on">&nbsp;&nbsp;passwd:</span>
    </div>
  </div>
    <div class="control-group">
    <label class="control-label" for="bash_dir">Bash Directory:</label>
    <div class="controls">
    </div>
  </div>
    <div class="control-group">
    <label class="control-label" for="host_des">Server Description:</label>
    <div class="controls">
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <button type="submit" class="btn" id="send" >Add Server</button>
    </div>
  </div>
</form>
<span class="label label-success">{{result}}</span>
{% endblock %}
