{% extends "base.html" %}
{% block title %}<title></title>{% endblock %}
{% block content %}

<h4>link</h4>
    <hr>
    <div>
      <ui>
        <li>
           <a  style="color:black" 
            href="https://us-west-2.console.aws.amazon.com/cloudwatch/home?region=us-west-2#dashboards:"
            target="_blank"  >AWS DashBorad
           </a>
        </li>
       <br> 
        <li>
           <a  style="color:black" 
           href="https://cloudmonitor.console.aliyun.com/?spm=5176.2020520101.aliyun_sidebar.12.4d744df5K2QXh7#/dashboardnew/boardId=&boardName=&timeSpan=
           " target="_blank" >AliYun DashBorad
           </a>
        </li>
     </ui>
    </div>
{% endblock %}
