{% extends "base.html" %}
{% block title %}<title>网上课堂迭代管理</title>{% endblock %}
{% block content %}
<div>
	<a href="/addrelease"><span class="label label-warning">上传文件</span></a>&nbsp;&nbsp;
<div class="pull-right">
	<form class="form-search" method="POST">
	<input type="text" name ="search" class="input-medium search-query" placeholder="Search">
	<button type="submit" class="btn">Search</button>&nbsp;&nbsp;
	</form>
</div>
</div>
	<hr>
      <table class="table table-bordered table-striped table-condensed">
		<thead>
			<tr>
			<th width="50">提交人</th>
			<th width="120">提交时间</th>
			<th width="250">提交原因</th>
            <th width="120">开始测试时间</th>
			<th width="120">结束测试时间</th>
            <th width="60">文件下载</th>
            <th width="120">迭代状态</th>
            <th>备注</th>
			</tr>
		</thead>
		<tbody>
			{% for release in release_list %}
			<tr>
			<td>{{release.create_user}}</td>
			<td>{{release.add_time}}</td>
			<td>{{release.add_reason}}</td>
            <td>{{release.start_test_time}}</td>
            <td>{{release.end_test_time}}</td>
            <td><a href="{{release.upload_file}}">下载</a></td>
            {% if release.test_status == '3' %}
            <td><a class="btn btn-small btn-primary" onclick="ch_status({{ release.id }},'3')">开始测试</a></td>
            {% elif release.test_status == '4' %}
            <td>
            <a class="btn btn-small btn-success" onclick="ch_status({{ release.id }},'1')">通过</a>
            <a class="btn btn-small btn-danger"  onclick="ch_status_back({{ release.id }},'0')">打回</a>
            </td>
            {% elif release.test_status == '0' %}
            <td><a class="btn btn-danger disabled">已打回</a></td>
            {% elif release.test_status == '1' %}
            <td><a class="btn btn-success disabled">已通过</a></td>
            {% endif %}
            <td>{{release.ststus_reason}}</td>
			</tr>
			{% endfor %}
		</tbody>
	  </table>
{% endblock %}
