{% extends "base.html" %}
{% block title %}<title>Task Management</title>{% endblock %}
{% block content %}
<h4>Task Management</h4>
	<hr>
<form class="well form-inline" method="POST">
  <div class="input-prepend">
   <span class="add-on">Task Name</span>
   </div>
  <div class="input-prepend">
   <span class="add-on">Server Group</span>
   </div>
  <div class="input-prepend">
   <span class="add-on">Script Group</span>
   </div>
  <button type="submit" class="btn btn-small btn-primary">Create New Task </button>
</form>
<table class="table table-striped">
<thead>
    <tr>
	  <th>#</th>
      <th>Task Name</th>
      <th>Server Group</th>
	  <th>Script Group</th>
	  <th>Create Date</th>
	  <th>Create User</th>
    </tr>
  </thead>
  <tbody>

    <tr>
      <td></td>
      <td></td>
	  <td></td>
	  <td></td>
	  <td></td>
	  <td></td>

	  <td width="50"><a class="btn btn-small btn-primary" name="runtask" >run</a></td>

	  <td width="50"><a class="btn btn-small btn-primary disabled "  name="runtask" >run</a></td>

	  <td width="100"><a class="btn btn-small btn-primary" href="#">view status</a></td>
	  <td width="80"><a  class="btn btn-small btn-primary" href="#">del task</a></td>
    </tr>


  </tbody>
</table>
<h4>Running Status View</h4>
<hr>
<div class="well">
{% autoescape off %} {% endautoescape %}
</div>
{% endblock %}